<h1>Add New Event</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field margin30bot">
    <%= f.label :startime %>
    <%= f.datetime_select :startime %>
  </div>
  <div class="field margin30bot">
    <%= f.label :endtime %>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field ">
    <%= f.number_field :amount, placeholder: "Amount"  %>
  </div>
  <div class="field">
    <%= f.text_field :venue, placeholder: "Venue"  %>
  </div>

  <div class="field margin30bot">
    Select Teams <%= f.collection_select(:teamss, @teams, :id, :name,{:prompt => "--select User--"},{ :include_blank => true, :multiple => true, :size => 5}) %>
  </div>


  <div class="field margin30bot">
    Select users <%= f.collection_select(:userss, @users, :id, :name,{:prompt => "--select User--"},{ :include_blank => true, :multiple => true, :size => 5}) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
    $('#event_userss').multiselect()
    $('#event_teamss').multiselect()
</script>

