<%= form_for(@github) do |f| %>
  <% if @github.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@github.errors.count, "error") %> prohibited this github from being saved:</h2>

      <ul>
      <% @github.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
